body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%; /* 테이블이 더 넓어지도록 전체 컨테이너 너비 증가 */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border-left: 1px solid #dcdcdc; /* 세로 선 색상 및 두께 */
    border-right: 1px solid #dcdcdc; /* 세로 선 색상 및 두께 */
    padding: 12px; /* 셀 내 여백 추가 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

table th {
    background-color: #007bff;
    color: #fff;
}

table td {
    background-color: #f9f9f9;
}

table tr:nth-child(even) td {
    background-color: #f2f2f2;
}

table tr:hover td {
    background-color: #e1e1e1;
}

table th:first-child, table td:first-child {
    border-left: none; /* 첫 번째 열의 왼쪽에는 선이 없도록 설정 */
}

table th:last-child, table td:last-child {
    border-right: none; /* 마지막 열의 오른쪽에는 선이 없도록 설정 */
}

#results {
    margin-top: 20px;
}
